*,figure {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-style: normal;
  font-weight: normal;
  font-family: "OpenSans", sans-serif;
}

h2, h3 {
  font-weight: bold;
  text-transform: uppercase;
}

.list-style-custom {
  list-style-type: none;
  counter-reset: list;
}

.li-style-custom {
  /* position: relative; */
  counter-increment: list;
}

.li-style-custom::before {
  content: "0" counter(list);
  position: absolute;
  top: 0;
  left: 0;
}

.li-lightbg::before {
  color: black;
  background: url("../images/border_blue.png") bottom center/contain no-repeat;
}

.li-bluebg::before {
  color: black;
  background: url("../images/border_white.png") bottom center/contain no-repeat;
}

.li-darkbg::before {
  color: #8765dd;
  background: url("../images/border_white.png") bottom center/contain no-repeat;
}

.li-square::before {
  color: white;
  background: url("../images/border_transparency.png") bottom center/contain no-repeat #5e42b0;
  border-style: solid;
  border-color:  #5e42b0;
}

.main-header,
.main-footer,
.header-title {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header,
.main-footer,
.button {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.main-header::before,
.main-footer::before {
  content: url("../images/svg/surface_logo_text.svg");
  position: absolute;
}

.header-title {
  font-weight: bold;
  align-items: flex-start;
}

.header-title span {
  align-self: flex-end;
}

.header-buttons,
.footer-buttons {
  display: flex;
  justify-content: center;
}

.action-img {
  max-width: 100%;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 310px;
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.6px;
  border-radius: 40px;
  background-color: #5e42b0;
  box-shadow: 8px 14px 24px 0 #0a0e34;
}

.button::before {
  position: absolute;
  top: calc(50% - 45px/2);
  width: 45px;
}

.apple-button {
  padding-left: 102px;
}

.google-button {
  padding-left: 125px;
}

.apple-button::before {
  content: url("../images/svg/apple_logo_black.svg");
  left: calc(50% - 120px);
}

.google-button::before {
  content: url("../images/svg/google-play.svg");
  left: calc(50% - 100px);
}

.athlets,
.players {
  position: relative;
  overflow: hidden;
}

.athlets-title,
.players-title {
  color: #e7e7e7;
}

.athlets-img,
.players-img {
  position: absolute;
}

.athlets-feature:nth-child(2),
.players-feature:nth-child(2) {
  background-color: #f5f4f9;
}

.athlets-feature:last-child {
  color: white;
  background-color: #5e42b0;
}

.players-feature:last-child {
  color: white;
  background-color: #090c35;
}

.athlets-feature-title,
.players-feature-title {
  position: relative;
  margin-bottom: 20px;
  color: #c1c1c1;
}

.action-title {
  color: #e7e7e7;
}

.footer-title::before {
  content: url("../images/svg/surface_logo.svg");
  position: absolute;
  box-sizing: border-box;
  background: linear-gradient(to top, #50329c, #7751db);
}


@media (max-width: 640px) {
  .main-header,
  .main-footer {
    min-height: 568px;
  }

  .main-header {
    padding-top: 200px;
    padding-bottom: 85px;
    background: url("../images/header_bg_320.jpg") center top/cover no-repeat #0a0e34;
  }

  .main-header::before {
    top: 33px;
    left: calc(50% - 71px);
    width: 134px;
  }

  .header-title {
    width: 100%;
    max-width: 320px;
    padding: 0 20px;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 1.1px;
  }

  .header-title span {
    max-width: 235px;
    margin-top: 15px;
  }

  .header-buttons,
  .footer-buttons {
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    padding: 0 20px;
  }

  .header-buttons {
    margin-top: 70px;
  }

  .button {
    width: auto;
    margin-top: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: calc(50% - 30px);
    font-size: 8px;
    line-height: 1.5;
    letter-spacing: 0.6px;
    border-radius: 17px;
  }

  .button::before {
    top: calc(50% - 26px/2);
    left: calc(50% - 60px);
    width: 24px;
  }

  .athlets,
  .players {
    padding-top: 12px;
  }

  .athlets-title,
  .players-title {
    margin: 0 20px;
    font-size: 50px;
    line-height: 60px;
  }

  .athlets-img {
    top: 80px;
    left: calc(50% - 90px);
  }

  .players-img {
    top: 83px;
    left: calc(50% - 158px);
  }

  .athlets-features,
  .players-features {
    margin-top: 233px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.7px;
  }

  .athlets-feature,
  .players-feature {
    padding: 51px 20px;
  }

  .athlets-feature:first-child,
  .players-feature:first-child {
    padding-top: 73px;
    background-color: #fafafa;
  }

  .athlets-feature:last-child {
    padding-bottom: 35px;
  }

  .players-feature:last-child {
    padding-top: 46px;
    padding-bottom: 53px;
  }

  .athlets-feature-title,
  .players-feature-title {
    padding-left: 25px;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 1px;
  }

  .li-style-custom::before {
    font-size: 14px;
    line-height: 28px;
  }

  .li-square::before {
    top: -90px;
    border-left-width: 25px;
    border-right-width: 25px;
    border-top-width: 19px;
    border-bottom-width: 24px;
  }

  .action-label {
    padding: 25px 20px 75px 20px;
  }

  .action-title {
    position: relative;;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 1px;
  }

  .action-description {
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.8px;
  }

  .main-footer {
    margin-top: -7px;
    padding-top: 220px;
    padding-bottom: 130px;
    background: url("../images/footer_bg_320.jpg") center top/cover no-repeat #0a0e34;
  }

  .main-footer::before {
    bottom: 2px;
    left: calc(50% - 71px);
    width: 134px;
  }

  .footer-title {
    position: relative;
    text-align: center;
  }

  .footer-title::before {
    bottom: calc(100% + 48px);
    left: calc(50% - 38px);
    width: 72px;
    padding: 10px 7px 4px;
    border-radius: 15px;
  }

  .footer-title h2 {
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 1.1px;
  }

  .footer-title p {
    font-size: 14px;
    letter-spacing: 0.8px;
    color: #a496ca;
  }

  .footer-buttons {
    margin-top: 60px;
  }

}

@media (min-width: 641px) and (max-width: 960px) {
  .main-header,
  .main-footer {
    min-height: 959px;
  }

  .main-header {
    padding-top: 260px;
    padding-bottom: 90px;
    background: url("../images/header_bg_768.jpg") center top/cover no-repeat #0a0e34;
  }

  .main-header::before {
    top: 40px;
    left: calc(50% - 107px);
    width: 205px;
  }

  .header-title {
    width: 100%;
    max-width: 768px;
    padding: 0 90px;
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: 3.1px;
  }

  .header-title span {
    max-width: 500px;
    margin-top: 1px;
  }

  .header-buttons {
    margin-top: 300px;
  }

  .button:not(:last-child) {
    margin-right: 30px;
  }

  .athlets-title,
  .players-title {
    margin-top: 73px;
    font-size: 80px;
    line-height: 80px;
  }

  .athlets-img {
    top: 95px;
    left: 0;
  }

  .players-img {
    top: 38px;
    right: 0;
  }

  .athlets-features,
  .players-features {
    margin-top: 7px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.8px;
  }

  .athlets-title,
  .athlets-feature {
    padding-left: calc(50% - 93px);
    padding-right: 33px;
  }

  .players-title,
  .players-feature {
    padding-left: 33px;
    padding-right: calc(50% - 80px);
  }

  .athlets-feature:first-child {
    padding-top: 40px;
    padding-bottom: 42px;
  }

  .athlets-feature:nth-child(2) {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .athlets-feature:last-child {
    padding-top: 35px;
    padding-bottom: 60px;
  }

  .players-feature:first-child {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .players-feature:nth-child(2) {
    padding-top: 59px;
    padding-bottom: 68px;
  }

  .players-feature:last-child {
    padding-top: 46px;
    padding-bottom: 50px;
    font-size: 18px;
  }

  .athlets-feature-title,
  .players-feature-title {
    padding-left: 30px;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: 1.5px;
  }

  .li-style-custom::before {
    top: -5px;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.2px;
  }

  .li-square::before {
    top: -160px;
    left: 2px;
    font-size: 24px;
    line-height: 48px;
    border-left-width: 45px;
    border-right-width: 45px;
    border-top-width: 30px;
    border-bottom-width: 39px;
  }

  .action-label {
    padding: 72px 80px 100px 33px;
  }

  .action-item:nth-child(2) .action-label {
    padding: 62px 80px 105px 33px;
  }

  .action-item:last-child .action-label {
    padding: 65px 80px 119px 33px;
  }

  .action-title {
    position: relative;
    margin-left: -5px;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 0.1px;
  }

  .action-description {
    margin-top: 24px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1.2px;
  }

  .main-footer {
    margin-top: -7px;
    padding-top: 320px;
    padding-bottom: 130px;
    background: url("../images/footer_bg_768.jpg") center top/cover no-repeat #0a0e34;
  }

  .main-footer::before {
    bottom: 20px;
    left: calc(50% - 105px);
    width: 205px;
  }

  .footer-title {
    position: relative;
    text-align: center;
  }

  .footer-title::before {
    bottom: calc(100% + 58px);
    left: calc(50% - 68px);
    width: 132px;
    padding: 25px 14px 12px;
    border-radius: 30px;
  }

  .footer-title h2 {
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 4px;
  }

  .footer-title p {
    font-size: 36px;
    line-height: 34px;
    letter-spacing: 0px;
    color: #a496ca;
  }

  .footer-buttons {
    margin-top: 285px;
  }
}

@media (min-width: 641px) and (max-width: 680px) {
  .header-buttons,
  .footer-buttons {
    width: 100%;
    justify-content: space-evenly;
  }

  .button:not(:last-child) {
    margin-right: 0;
  }
}

@media (min-width: 641px) and (max-width: 740px) {
  .athlets-img {
    max-width: 43%;
  }

  .players-img {
    max-width: 58%;
  }
}

@media (min-width: 961px) {
  .main-header,
  .main-footer {
    min-height: 960px;
  }

  .main-header {
    padding-top: 380px;
    padding-bottom: 100px;
    background: url("../images/header_bg_desktop.jpg") center top/cover no-repeat #0a0e34;
  }

  .main-header::before {
    top: 45px;
    left: calc(50% - 110px);
    width: 190px;
  }

  .header-title {
    width: 100%;
    max-width: 1560px;
    padding: 0 5px;
    font-size: 64px;
    line-height: 1;
    letter-spacing: 4.8px;
  }

  .header-title span {
    margin-top: 1px;
  }

  .header-buttons {
    margin-top: 215px;
  }

  .button:not(:last-child) {
    margin-right: 50px;
  }

  .athlets-title,
  .players-title {
    margin-top: 100px;
    font-size: 80px;
    line-height: 80px;
  }

  .athlets-img {
    top: -15px;
    left: calc(50% - 640px);
  }

  .players-img {
    top: -30px;
    left: calc(50% - 158px);
  }

  .athlets-features,
  .players-features {
    margin-top: 40px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
  }

  .athlets-title,
  .athlets-feature {
    padding-left: calc(50% + 50px);
  }

  .athlets-feature-description {
    max-width: 730px;
    padding-right: 20px;
  }

  .players-title,
  .players-feature-title,
  .players-feature-description {
    margin-left: 145px;
  }

  .players-title,
  .players-feature {
    padding-left: calc((100% - 1560px) / 2);
    padding-right: calc(50% + 35px);
  }

  .players-feature-description {
    max-width: 625px;
  }

  .athlets-feature:first-child {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .athlets-feature:nth-child(2) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .athlets-feature:last-child {
    padding-top: 85px;
    padding-bottom: 100px;
  }

  .players-feature:first-child {
    padding-top: 40px;
    padding-bottom: 67px;
  }

  .players-feature:nth-child(2) {
    padding-top: 59px;
    padding-bottom: 68px;
    letter-spacing: 0.6px;
  }

  .players-feature:nth-child(2) .players-feature-title {
    margin-bottom: 30px;
  }

  .players-feature:last-child {
    padding-top: 92px;
    padding-bottom: 90px;
    letter-spacing: 0.6px;
  }

  .athlets-feature-title,
  .players-feature-title {
    padding-left: 30px;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 1.5px;
  }

  .li-style-custom::before {
    top: -5px;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.2px;
  }

  .li-square::before {
    top: 30%;
    left: calc(50% - 55px);
    font-size: 24px;
    line-height: 48px;
    border-left-width: 45px;
    border-right-width: 45px;
    border-top-width: 30px;
    border-bottom-width: 39px;
  }


  .actions {
    max-width: 1920px;
    margin: 0 auto;
  }

  .action {
    position: relative;
    display: flex;
  }

  .action-picture,
  .action-label {
    font-size: 0;
    flex-basis: 50%;
  }

  .action-label {
    padding-top: 13%;
    padding-left: 6.5%;
  }

  .action-title {
    font-size: 50px;
    line-height: 1;
    letter-spacing: 0.1px;
  }

  .action-description {
    margin-top: 60px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1.2px;
  }

  .action-item:first-child .action-description {
    max-width: 370px;
  }

  .action-item:nth-child(even) .action-picture {
    order: 1;
  }

  .action-item:nth-child(even) .action-label {
    padding-left: 6.5%;
  }

  .action-item:nth-child(even) .action-description {
    margin-top: 60px;
    max-width: 420px;
  }

  .action-item:last-child .action-description {
    max-width: 550px;
  }

  .main-footer {
    padding-top: 225px;
    padding-bottom: 365px;
    background: url("../images/footer_bg_desktop.jpg") center top/cover no-repeat #0a0e34;
  }

  .main-footer::before {
    bottom: 5px;
    left: calc(50% - 110px);
    width: 190px;
  }

  .footer-title {
    position: relative;
    padding-left: 130px;
  }

  .footer-title::before {
    top: 5px;
    left: -40px;
    width: 132px;
    padding: 25px 14px 12px;
    border-radius: 30px;
  }

  .footer-title h2 {
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 4px;
  }

  .footer-title p {
    margin-top: -5px;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0px;
    color: #a496ca;
  }

  .footer-buttons {
    margin-top: 160px;
  }
}

@media (min-width: 961px) and (max-width: 1120px) {
  .players-img {
    max-width: 86%;
  }
}

@media (min-width: 1110px) and (max-width: 1919px) {
  .header-title {
    font-size: calc(2.7vw + 38px);
  }

  .action-title {
    font-size: calc(3.7vw + 8.93px);
  }

  .action-description {
    margin-top: calc(4.9vw + 5.6px);
  }

  .li-square::before {
    left: calc(50% - 3.7vw - 14px);
    border-left-width: calc(3vw + 11.7px);
    border-right-width: calc(3vw + 11.7px);
    border-top-width: calc(2vw + 7.8px);
    border-bottom-width: calc(2.2vw + 14.6px);
  }
}

@media (min-width: 1920px) {
  .header-title {
    font-size: 90px;
  }

  .action-title {
    font-size: 80px;
  }

  .action-description {
    margin-top: 100px;
  }

  .li-square::before {
    left: calc(50% - 85px);
    border-left-width: 69px;
    border-right-width: 69px;
    border-top-width: 47px;
    border-bottom-width: 57px;
  }

  .action-item:nth-child(even) .action-label {
    padding-left: 10%;
  }
}
